/* ======== Стили Секции ====== */
.landing {
  padding-top: 60px;
  padding-bottom: 181px;
  padding-left: 25px;
  padding-right: 25px;
}
@media screen and (min-width: 768px) {
  .landing {
    padding-top: 306px;
    padding-bottom: 306px;
    padding-left: 50px;
    padding-right: 352px;
  }
}
@media screen and (min-width: 1280px) {
  .landing {
    padding-top: 186px;
    padding-bottom: 185px;
    padding-left: 229px;
    padding-right: 518px;
  }
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;

  color: #00d7ff;

  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 20px;
    line-height: 1.15;

    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .title {
    font-size: 24px;
    line-height: 1.167;

    margin-bottom: 70px;
  }
}

.txt__top {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.61;

  color: #15395a;

  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .txt__top {
    font-size: 24px;
    line-height: 1.37;

    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1280px) {
  .txt__top {
    font-size: 36px;
    line-height: 1.25;

    margin-bottom: 35px;
  }
}

.txt__bottom {
  font-size: 14px;
  line-height: 3.21;

  color: #b9c3c8;

  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .txt__bottom {
    font-size: 18px;
    line-height: 2.5;

    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .txt__bottom {
    font-size: 25px;
    line-height: 1.87;

    margin-bottom: 23px;
    margin-right: 0;
  }
}

.wrapper {
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 1280px) {
  .wrapper {
    margin-top: calc(100vh - 850px);
    /* margin-left: calc(100vw - 1280px); */
  }
}
/* Фоновые изображения */
.wrapper::before {
  content: '';
  position: absolute;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .wrapper::before {
    width: 408px;
    height: 312px;

    top: 633px;
    right: calc(320px + 65px - 408px - 10px);

    border-radius: 10px;

    background: rgba(0, 215, 255, 0.25);
    -webkit-transform: rotate(-15.35deg);
    -moz-transform: rotate(-15.35deg);
    -ms-transform: rotate(-15.35deg);
    -o-transform: rotate(-15.35deg);
    transform: rotate(-15.35deg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .wrapper::before {
    width: 707px;
    height: 470px;

    top: 0;
    right: calc(768px - 436px - 707px);

    background: url('../../images/bg_top_tab.png');
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1280px) {
  .wrapper::before {
    width: 707px;
    height: 470px;

    top: 0;
    right: calc(1280px - 840px - 707px);

    background: url('../../images/bg_top_dsk.png');
    background-repeat: no-repeat;
  }
}

.wrapper::after {
  content: '';
  position: absolute;
  z-index: -2;
}
@media screen and (max-width: 767px) {
  .wrapper::after {
    width: 707px;
    height: 470px;

    top: 645px;
    right: calc(320px + 430px - 707px - 10px);

    border-radius: 10px;

    background: rgba(186, 190, 190, 0.25);
    -webkit-transform: rotate(-15.35deg);
    -moz-transform: rotate(-15.35deg);
    -ms-transform: rotate(-15.35deg);
    -o-transform: rotate(-15.35deg);
    transform: rotate(-15.35deg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .wrapper::after {
    width: 1439px;
    height: 906px;

    top: 275px;
    right: calc(768px - 1439px);

    background: url('../../images/bg_btm_tab.png');
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1280px) {
  .wrapper::after {
    width: 1441px;
    height: 716px;

    top: 278px;
    right: calc(1280px - 1441px - 265px);

    background: url('../../images/bg_btm_dsk.png');
    background-repeat: no-repeat;
  }
}
.invisibleButton {
  border: none;
  background: transparent;
  text-decoration: underline;
  color: #00d7ff;
  /* color: #b9c3c8; */
}
