/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 14px; /* ширина для вертикального скролла */
  background-color: #143861;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #0a99b3;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
}

.backdrop {
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: default;
  width: 98vw;
  height: 96vh;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
}

.modal {
  background-color: var(--font-tertiary);
  border-radius: 10px;
  position: absolute;
  padding: 0 20px 20px 20px;
  min-height: 250px;
  max-height: 80vh;
  width: 250px;
  top: 56px;
  right: 10%;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}

.missingChallenges {
  margin-top: 20%;
  color: var(--font-primary);
  font-weight: bold;
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 300px;
    top: 65px;
    margin-left: -27px;
  }
}

.modal::before {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-bottom: 10px solid #7b8aa4;
  top: 0px;
  left: 10px;
}
@media screen and (min-width: 768px) {
  .modal::before {
    left: 62%;
  }
}
@media screen and (min-width: 1280px) {
  .modal::before {
    left: 50%;
  }
}

.listItem {
  background-color: var(--primary);
  border-radius: 10px;
  width: 180px;
  height: 90px;
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  .listItem {
    padding-top: 20px;
    width: 220px;
    height: 120px;
    margin-left: -1px;
  }
}
@media screen and (min-width: 1280px) {
  .listItem {
    width: 300px;
    height: 120px;
  }
}

.listItem:not(:last-child) {
  margin-bottom: 10px;
}

.itemTitle {
  color: var(--background-card);
  font-family: 'HelveticaNeueCyr-Bold';
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 5px;
}
@media screen and (min-width: 1280px) {
  .itemTitle {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
  }
}

.itemTime {
  color: var(--font-secondary);
  font-family: 'HelveticaNeueCyr-Medium';
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .itemTime {
    font-size: 17px;
  }
}

.itemCategory {
  background: #fff6c0;
  border-radius: 0px 15px 15px 0px;
  width: 88px;
  height: 20px;
  font-family: 'HelveticaNeueCyr-Medium';
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0.02em;
  align-items: center;
  display: flex;
  padding-left: 21px;
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .itemCategory {
    width: 88px;
    height: 25px;
    margin-top: 15px;
  }
}
