.list {
  color: var(--bg-card-stuff);
  padding: 14px 16px 14px 27px;
  background-color: #fff;
  box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.05),
    3px 4px 4px rgba(21, 57, 90, 0.05);
  border-radius: 10px;
}

.fstOption {
  position: relative;

  font-family: HelveticaNeueCyr;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  cursor: pointer;
}
.fstOption::before {
  content: "";
  position: absolute;
  background-color: var(--font-accent);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: -17px;
  top: 20%;
}

.fstOption:hover {
  color: var(--font-primary);
}
.secondOption {
  position: relative;
  font-family: HelveticaNeueCyr;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.secondOption::before {
  content: "";
  position: absolute;
  background-color: var(--font-button-cancel);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: -17px;
  top: 20%;
}

.secondOption:hover {
  color: var(--font-primary);
}
.thirdOption {
  position: relative;
  font-family: HelveticaNeueCyr;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.thirdOption:hover {
  color: var(--font-primary);
}

.thirdOption::before {
  content: "";
  position: absolute;
  background-color: var(--option-color);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: -17px;
  top: 20%;
}
