.rooter {
  width: fit-content;
  height: fit-content;
}

.rooter > div {
  width: 100%;
  height: 100%;
}

.MuiInputBase-input-MuiOutlinedInput-input {
  display: none;
}

.rooter input {
  display: none !important;
}
.rooter fieldset {
  display: none !important;
}
