.container {
  margin: 0 auto;

  width: 100%;

  min-width: 320px;
  max-width: 451px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    min-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    min-width: 1280px;
  }
}

@media screen and (min-width: 320px) and (orientation: landscape) {
  .container {
    max-width: 600px;
  }
}
/* IPAD MINI LAYOUT */

@media only screen and (min-width: 1024px) and (max-width: 1279px) and (orientation: landscape) {
  .container {
    min-width: 920px;
  }
}
