
.challengeBox {
  box-shadow: -3px -4px 4px var(rgba(21, 57, 90, 0.03)),
    3px 4px 4px var(rgba(21, 57, 90, 0.03));
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
  line-height: 1;

}

.challengeBox {
  background-color: var(--primary);
  color: var(--background-card);
}


.challengeBox:hover,
.challengeBox:focus {
  box-shadow: -3px 0px 5px rgba(21, 57, 90, 0.4),
    3px 5px 5px rgba(21, 57, 90, 0.4);
}

.contentBox {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.content {
  font-size: 11px;
  font-family: 'HelveticaNeueCyr-Medium';
  line-height: 1;
}

.link {
  position: relative;
  margin-left: 7px;
  color: var(--font-accent);
  border-bottom: 1px solid var(--font-accent);
  cursor: pointer;
}

.link:hover,
.link:focus {
  color: var(--accent);
  border-bottom: 1px solid var(--accent);
}

.link:active {
  color: #3f93b7;
  border-bottom: 1px solid #3f93b7;
}

.linkText {
  display: inline-block;
  max-width: 95px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: 'HelveticaNeueCyr-Medium';
}

.image {
  margin-bottom: 5px;
  width: 144px;
  height: 124px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 80px;
  color: var(--bg-card-stuff);
  line-height: 1;
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding-top: 5px;
}

.arrow {
  color: var(--font-accent);
  fill: currentColor;
  height: 8px;
}

.button:focus .arrow,
.button:hover .arrow {
  color: var(--accent);
}

.button:active .arrow {
  color: #3f93b7;
}

.awardBox {
  position: relative;
  margin: 0 auto 5px;
  width: 144px;
  height: 124px;
}

.iconBase,
.iconTarget,
.iconArrow,
.iconTrophy,
.iconFirst {
  position: absolute;
}

.leftClouds,
.rightClouds {
  position: absolute;
  width: 144px;
  height: 124px;
  z-index: 10;
}

.leftClouds {
  left: 0;
}

.rightClouds {
  right: 0;
}

.iconBase {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 86px;
  height: 43px;
}

.iconTarget {
  bottom: 35px;
  left: 35px;
  width: 80px;
  height: 80px;
}

.iconArrow {
  top: 22px;
  left: calc(50% - 3px);
  width: 50px;
  height: 30px;
}

.iconTrophy {
  top: 6px;
  right: 33px;
  width: 78px;
  height: 76px;
  z-index: 10;
}

.iconFirst {
  top: 5px;
  right: 50px;
  width: 46px;
  height: 50px;
  z-index: 11;
  fill: var(--background-card);
}

.card {
  justify-content: space-around;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 205px;
  margin-top: 20px;
  padding: 20px;
  box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.03),
    3px 4px 4px rgba(21, 57, 90, 0.03);
  border-radius: 10px;
  background: var(--primary);
}
.cardSet {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;

  margin-top: -20px;
}

span {
  color:var(--font-secondary);
  font-family: 'HelveticaNeueCyr-Medium';
}
@media screen and (min-width: 768px) {
  .card {
    /* width: calc((100% / 3) - 27px); */

    margin-left: 27px;

    width: 204px;
    height: 199px;
  }
  .cardSet {
    flex-direction: row;
    margin-left: -27px;
  }
  .arrow {
    width: 8px;
    height: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .card {
    margin-left: 27px;

    width: 204px;
    height: 199px;
  }
}

/* IPAD MINI LAYOUT */
@media only screen and (min-width: 1024px) and (orientation: landscape) {
  .card {
    width: calc((100% / 4) - 27px);
    width: 205px;
  }
}


