.modal {
  position: absolute;
  left: 13%;
  top: 32%;
  background-color: #fff;
  box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.03),
    3px 4px 4px rgba(21, 57, 90, 0.03);
  border-radius: 10px;
  padding: 25px 30px 16px 30px;
}

.cancel {
  color: var(--font-button-cancel);
  background: none;
  border: none;
  margin-right: 21px;
  padding: 0;
  position: relative;
  cursor: pointer;

  text-align: center;
  text-transform: uppercase;

  font-size: 10px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.cancel::after {
  content: "";
  position: absolute;
  right: -10px;
  top: -2px;
  width: 1px;
  height: 15px;
  background-color: var(--font-secondary);
}

.delete {
  color: var(--font-button-delete);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  font-size: 10px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.text {
  font-family: HelveticaNeueCyr;
  font-size: 12px;
  line-height: 1;

  text-align: center;

  color: var(--font-primary);
}
