.cardCategoryName {
  font-family: "HelveticaNeueCyr-Medium";
  font-size: 16px;

  color: var(--font-secondary);

  margin-bottom: 50px;

  display: flex;
  align-items: center;
}

.cardCategoryCircle {
  margin-right: 10px;
}

.cardCategoryStart {
  margin-left: auto;
}

.cardTitle {
  font-family: "HelveticaNeueCyr-Bold";
  font-size: 20px;
  line-height: 20px;

  color: var(--font-primary);

  margin: 0 auto;
  margin-bottom: 10px;
}

.cardDate {
  font-family: "HelveticaNeueCyr-Medium";
  font-size: 14px;

  color: var(--font-secondary);

  margin: 0 auto;
  margin-bottom: 40px;
}

.cardType {
  font-family: "HelveticaNeueCyr-Medium";
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border-radius: 0px 25px 25px 0px;

  background-color: green;

  width: 120px;
  height: 35px;

  padding: 5px;
  padding-left: 20px;

  margin-left: -20px;

  display: flex;
  align-items: center;
}

/* new style */

.bottomMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartCategory {
  cursor: pointer;
}

.cross {
  color: var(--option-color);
  margin-left: auto;
  margin-right: 14px;
  position: relative;
  cursor: pointer;
}

.cross::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 16px;
  background-color: var(--font-secondary);
  top: 10%;
  right: -7px;
}

.start {
  color: var(--font-accent);

  font-family: HelveticaNeueCyr;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.card {
  justify-content: space-around;
  position: relative;
  display: flex;
  flex-direction: column;

  margin-top: 20px;
  padding: 20px;
  background: var(--background-card);
  box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.03),
    3px 4px 4px rgba(21, 57, 90, 0.03);
  border-radius: 10px;
}

.form {
  margin: 0 auto;
}
.input {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: inherit;
  border-color: var(--font-accent);
  color: var(--font-input);
  margin-top: 4px;

  text-align: center;
  font-family: "HelveticaNeueCyr-Bold";
  font-size: 20px;
  line-height: 20px;
}

/* Options */

.firstOption {
  color: var(--font-accent);
  margin-right: 10px;
}

.secondOption {
  color: var(--font-button-cancel);
  margin-right: 10px;
}

.thirdOption {
  color: var(--option-color);
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .cardSet {
    flex-direction: row;

    padding-left: 50px;
    padding-right: 50px;

    margin-left: -27px;
  }
  .card {
    width: calc((100% / 3) - 27px);

    margin-left: 27px;

    width: 204px;
    height: 199px;
  }

  .cardType {
    width: 88px;
    height: 25px;
  }

  .cardCategoryName {
    font-size: 16px;
  }

  .cardDate {
    margin-bottom: 10px;
  }

  .bottomMenu {
    display: flex;
    align-items: center;
  }

  .cross {
    color: var(--option-color);
    margin-left: 28px;
    margin-right: 14px;
    /* width: 10px;
    height: 10px; */
    position: relative;
  }

  .cross::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 16px;
    background-color: var(--font-secondary);
    top: 10%;
    right: -7px;
  }

  .start {
    color: var(--font-accent);

    font-family: HelveticaNeueCyr;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.02em;
  }

  .input {
    width: 100%;
  }
}
