.cardCategoryName {
  font-family: "HelveticaNeueCyr-Medium";
  font-size: 16px;

  color: var(--font-secondary);

  margin-bottom: 50px;

  display: flex;
  align-items: center;
}

.cardCategoryCircle {
  margin-right: 10px;
}

.cardCategoryStart {
  margin-left: auto;
}

.cardTitle {
  font-family: "HelveticaNeueCyr-Bold";
  font-size: 20px;
  line-height: 20px;

  color: var(--font-primary);

  margin: 0 auto;
  margin-bottom: 10px;
}

.cardDate {
  font-family: "HelveticaNeueCyr-Medium";
  font-size: 14px;

  color: var(--font-secondary);

  margin: 0 auto;
  margin-bottom: 40px;
}

.cardType {
  font-family: "HelveticaNeueCyr-Medium";
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border-radius: 0px 25px 25px 0px;

  background-color: green;

  width: 120px;
  height: 35px;

  padding: 5px;
  padding-left: 20px;

  margin-left: -20px;

  display: flex;
  align-items: center;
}

/* new style */

.bottomMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cross {
  color: var(--option-color);
  margin-left: 73px;
  margin-right: 14px;
  /* width: 10px;
    height: 10px; */
  position: relative;
  cursor: pointer;
}

.cross::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 16px;
  background-color: var(--font-secondary);
  top: 10%;
  right: -7px;
}

.start {
  color: var(--font-accent);

  font-family: HelveticaNeueCyr;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.card {
  position: relative;
}

/* Options */

.firstOption {
  color: var(--font-accent);
  margin-right: 10px;
}

.secondOption {
  color: var(--font-button-cancel);
  margin-right: 10px;
}

.thirdOption {
  color: var(--option-color);
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .cardCategoryName {
    font-size: 16px;
  }

  .bottomMenu {
    display: flex;
    align-items: center;
  }

  .cross {
    color: var(--option-color);
    margin-left: 28px;
    margin-right: 14px;
    /* width: 10px;
    height: 10px; */
    position: relative;
  }

  .cross::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 16px;
    background-color: var(--font-secondary);
    top: 10%;
    right: -7px;
  }

  .start {
    color: var(--font-accent);

    font-family: HelveticaNeueCyr;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.02em;
  }
}
