@import '../../utils/variables.css';

.cardCategoryName {
  font-family: 'HelveticaNeueCyr-Medium';
  font-size: 16px;

  color: var(--font-secondary);

  margin-bottom: 20px;

  display: flex;
  align-items: center;
}
.cardCategoryCircle {
  margin-right: 10px;
}

.cardCategoryStart {
  margin-left: auto;
}
.challengeHeader {
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--font-secondary);
  margin-bottom: 10px;
}
.taskHeader {
  font-family: 'HelveticaNeueCyr-Medium';
  font-size: 12px;
  line-height: 12px;
  visibility: hidden;
  margin-bottom: 10px;
}

.cardTitle {
  font-family: 'HelveticaNeueCyr-Bold';
  font-size: 16px;
  line-height: 1.37;

  color: var(--font-primary);

  margin: 0 auto;
  margin-bottom: 10px;

  text-align: center;
}
.cardTitle_challenge {
  color: #ffffff;
}

.cardDate {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 14px;

  color: var(--font-secondary);

  margin: 0 auto;
  margin-bottom: 40px;

  white-space: nowrap;
  overflow: hidden;
}

.cardType {
  font-family: 'HelveticaNeueCyr-Medium';
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border-radius: 0px 25px 25px 0px;

  width: 120px;
  height: 35px;

  padding: 5px;
  padding-left: 20px;

  margin-left: -20px;

  display: flex;
  align-items: center;
}

/* new style */

.editTitle {
  font-family: 'HelveticaNeueCyr-Bold';

  font-size: 12px;
  line-height: 12px;

  /* identical to box height */
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: var(--font-secondary);
}

.bottomMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartCategory {
  cursor: pointer;
}

.buttons {
  display: flex;
  align-items: baseline;
  margin-left: auto;
}

.saveIcon {
  position: relative;
  cursor: pointer;
  width: 10px;
  height: 10px;
  margin-right: 17px;
}

.saveIcon::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 16px;
  background-color: var(--font-secondary);
  top: -40%;
  right: -7px;
}

.timeText {
  font-family: 'HelveticaNeueCyr';

  font-size: 14px;
  line-height: 14px;

  letter-spacing: 0.02em;
}

.cross {
  color: var(--option-color);
  margin-left: auto;
  margin-right: 14px;
  position: relative;
  cursor: pointer;
}

.cross::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 16px;
  background-color: var(--font-secondary);
  top: 10%;
  right: -8px;
}

.checked {
  color: var(--font-button-cancel);
  cursor: pointer;
}

.start {
  color: var(--font-accent);

  font-family: 'HelveticaNeueCyr-Medium';
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.card {
  justify-content: space-around;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 205px;
  margin-top: 20px;
  padding: 20px;
  box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.03),
    3px 4px 4px rgba(21, 57, 90, 0.03);
  border-radius: 10px;
}
.task {
  background: var(--background-card);
}
.challenge {
  background: var(--primary);
}

.form {
  margin: 0 auto;
}
.input {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: inherit;
  border-bottom: 1px solid var(--font-accent);
  color: var(--font-input);
  margin-top: 4px;
  caret-color: var(--font-accent);

  text-align: center;
  font-family: 'HelveticaNeueCyr-Bold';
  font-size: 16px;
  line-height: 1.37;
}
.inputChallenge {
  color: #ffffff;
}

/* Options */

.firstOption {
  color: var(--font-accent);
  margin-right: 10px;
}

.secondOption {
  color: var(--font-button-cancel);
  margin-right: 10px;
}

.thirdOption {
  color: var(--option-color);
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .cardSet {
    flex-direction: row;

    padding-left: 50px;
    padding-right: 50px;

    margin-left: -27px;
  }
  .card {
    /* width: calc((100% / 3) - 27px); */

    margin-left: 27px;

    width: 205px;
    height: 199px;
  }

  .cardType {
    width: 88px;
    height: 25px;
  }

  .cardCategoryName {
    font-size: 16px;
  }

  .cardDate {
    margin-bottom: 10px;
  }

  .bottomMenu {
    display: flex;
    align-items: center;
  }

  .cross {
    color: var(--option-color);
    /* margin-left: 28px; */
    margin-right: 14px;
    /* width: 10px;
    height: 10px; */
    position: relative;
  }

  .cross::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 16px;
    background-color: var(--font-secondary);
    top: 10%;
    right: -7px;
  }

  .start {
    color: var(--font-accent);
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.02em;
  }

  .input {
    width: 100%;
  }
  .input:hover,
  .input:focus {
    outline: none;
  }
}

@media screen and (min-width: 1280px) {
  .card {
    margin-left: 27px;

    /* width: calc((100% / 5) - 27px); */
    width: 205px;
    height: 199px;
  }
}

/* IPAD MINI LAYOUT */
@media only screen and (min-width: 1024px) and (orientation: landscape) {
  .card {
    width: calc((100% / 4) - 27px);
    width: 205px;
  }
}

.learning {
  background-color: var(--bg-card-learning);
}

.leisure {
  background-color: var(--bg-card-leisure);
}

.family {
  background-color: var(--bg-card-family);
}

.health {
  background-color: var(--bg-card-health);
}

.stuff {
  background-color: var(--bg-card-stuff);
}

.work {
  background-color: var(--bg-card-work);
}
