/* Форма */
.auth_form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}
@media screen and (min-width: 768px) {
  .auth_form {
    width: 193px;
    align-items: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .auth_form {
    width: 196px;
  }
}

.auth_form_input {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.167;

  border: none;
  border-bottom: 1px solid #00d7ff;
  outline: transparent;

  color: #00d7ff;
  background: transparent;

  width: 100%;

  margin-bottom: 20px;
}

.auth_form_button {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;

  background: #ff851c;
  border-radius: 50%;
  border: none;

  box-shadow: 0 0 5px 2px #ff851c;

  width: 52px;
  height: 52px;
}
.auth_form_button:hover {
  border: solid 1px #fff;
}
/* Цвет плейсхолдера */
::-webkit-input-placeholder {
  color: #00d7ff;
}
:-moz-placeholder {
  color: #00d7ff;
}
::-moz-placeholder {
  color: #00d7ff;
}
:-ms-input-placeholder {
  color: #00d7ff;
}

.errorMessage {
  font-size: 11px;
  margin-top: 4px;
  position: absolute;
}
