.cardSet {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;

  padding-left: 15px;
  padding-right: 15px;
}

.card {
  justify-content: space-around;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 20px;
  background: var(--primary);
  box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.03),
    3px 4px 4px rgba(21, 57, 90, 0.03);
  border-radius: 10px;
}

.challenge {
  margin-bottom: 10px;

  font-family: HelveticaNeueCyr;

  font-size: 12px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: var(--font-secondary);
}

.cardCategoryName {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-family: "HelveticaNeueCyr-Medium";
  font-size: 16px;
  color: var(--font-secondary);
}

.cardCategoryStart {
  margin-left: auto;
}

.cardTitle {
  margin: 0 auto;
  margin-bottom: 10px;
  font-family: "HelveticaNeueCyr-Bold";
  font-size: 20px;
  line-height: 20px;

  color: var(--background-card);
}

.cardDate {
  margin: 0 auto;
  margin-bottom: 40px;
  font-family: "HelveticaNeueCyr-Medium";
  font-size: 14px;
  color: var(--font-secondary);
}

.cardType {
  width: 120px;
  height: 35px;
  padding: 5px;
  padding-left: 20px;
  margin-left: -20px;
  background-color: green;
  border-radius: 0px 25px 25px 0px;
  font-family: "HelveticaNeueCyr-Medium";
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.bottomMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cross {
  color: var(--option-color);
  margin-left: 73px;
  margin-right: 14px;
  /* width: 10px;
    height: 10px; */
  position: relative;
  cursor: pointer;
}

.cross::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 16px;
  background-color: var(--font-secondary);
  top: 10%;
  right: -7px;
}

.start {
  color: var(--font-accent);

  font-family: HelveticaNeueCyr;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.cartCategory {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .cardSet {
    flex-direction: row;

    padding-left: 50px;
    padding-right: 50px;

    margin-left: -27px;
  }
  .card {
    width: calc((100% / 3) - 27px);

    margin-left: 27px;

    width: 205px;
    height: 199px;
  }

  .cardType {
    width: 88px;
    height: 25px;
  }

  .cardCategoryName {
    font-size: 16px;
  }

  .cardDate {
    margin-bottom: 10px;
  }

  .bottomMenu {
    display: flex;
    align-items: center;
  }

  .cross {
    color: var(--option-color);
    margin-left: 28px;
    margin-right: 14px;
    /* width: 10px;
    height: 10px; */
    position: relative;
  }

  .cross::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 16px;
    background-color: var(--font-secondary);
    top: 10%;
    right: -7px;
  }

  .start {
    color: var(--font-accent);

    font-family: HelveticaNeueCyr;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1280px) {
  .list {
    display: flex;
    flex-wrap: wrap;

    margin-left: -28px;
  }
  .card {
    width: calc((100% / 5) - 28px);
    margin-left: 28px;
  }
}

.dark {
  background-color: #000;
}

.firstOption {
  color: var(--font-accent);
  margin-right: 10px;
}

.secondOption {
  color: var(--font-button-cancel);
  margin-right: 10px;
}

.thirdOption {
  color: var(--option-color);
  margin-right: 10px;
}
