.headerSection {
  background-color: #242a37;
  position: fixed;
  top: 0;
  width: 100%;
}

.header {
  box-shadow: 0px 4px 4px rgba(36, 42, 55, 0.1);

  padding-left: 15px;
  padding-right: 15px;

  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header {
    padding-left: 50px;
    padding-right: 50px;

    height: 70px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    padding-left: 70px;
    padding-right: 70px;

    height: 70px;
  }
}

.logo {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #00d7ff;
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 21px;
    line-height: 21px;
  }
}

.userData {
  align-items: center;
  display: none;
}
@media screen and (min-width: 768px) {
  .userData {
    display: flex;
  }
}

.userDataMobile {
  display: flex;
}

.userName {
  font-size: 17px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #7b8aa4;
  margin-left: 10px;
}

.avatarMobile {
  margin-right: 10px;
  width: 35px;
  height: 35px;
}
@media screen and (min-width: 768px) {
  .avatarMobile {
    display: none;
  }
}

.challengeIcon {
  margin-right: 30px;
  background-color: transparent;
  border: none;
}

.BtnLogout {
  background-color: transparent;
  border: none;
}

/* ------------------------MODAL WINDOW------------------------------------ */
.btnDiv {
  align-items: center;
  text-align: center;
}

.modalTitle {
  font-weight: 500;
  font-size: 17px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #414553;
  margin-bottom: 30px;
}
.modalBtn {
  width: 100px;
  height: 44px;
  background: transparent;
  border-radius: 16px;
  color: #242a37;
  border: 2px solid #242a37;
  box-sizing: border-box;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color var(--transition-timing)
      var(--transition-function),
    color var(--transition-timing) var(--transition-function);
}
@media screen and (min-width: 768px) {
  .modalBtn {
    width: 125px;
    height: 44px;
  }
}

.modalBtn:not(:last-child) {
  margin-right: 15px;
}

.modalBtn:hover,
.modalBtn:focus {
  background: #242a37;
  color: #fff;
}
