:root {
  --primary: #15395a;
  --secondary: #242a37;
  --accent: #ff851c;
  --accent-hover: #f86b19;

  --background-main: #f2f3f7;
  --background-card: #ffffff;

  --bg-card-learning: #fff6c0;
  --bg-card-leisure: #f8d2ff;
  --bg-card-family: #ffe6d3;
  --bg-card-health: #cdf7ff;
  --bg-card-stuff: #b9c3c8;
  --bg-card-work: #d3f6ce;
  --option-color: #db0837;

  --font-primary: #282828;
  --font-secondary: #b9c3c8;
  --font-tertiary: #7b8aa4;
  --font-input: #282828;
  --font-accent: #00d7ff;
  --font-button-cancel: #24d40c;
  --font-button-delete: #db0938;
}
